/*******************************************************************************************/
/* CSS stylesheet Wojciech Molicki INF2013@PG  */
/*******************************************************************************************/
body { background-color: #F2F2F2; color: #000305; font-size: 14px; font-family: Arial, 'Lucida Sans Unicode'; line-height: 1.5; text-align: left; overflow-y:scroll;}
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav { display: block; }
a { text-decoration: none; }
a:link,
a:visited { color: #88aa00; }
a:hover,
a:active { background-color: #88aa00; color: #FFF; }
figcaption { font-size: 12px; text-align: center; }
/*******************************************************************************************/
/* page layout */
/*******************************************************************************************/
.body { margin: 0 auto; width: 70%; clear: both; }
.topHeader img {  margin: 2% 0 1% 0; }
.topHeader nav { background-color: #666; height: 40px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.topHeader nav ul { list-style: none; margin: 0 auto; padding-left: 0; display: inline-block; }
.topHeader nav ul li { float: left; display: inline;}
.topHeader nav ul li ol { display:none; }
.topHeader nav ul li:hover ol { display: block; position: relative; left:-41px; }
.topHeader nav ul li ol a { background-color: #666; clear:left; width: 150px;}
.topHeader nav ul li ol a:hover { background-color: #88aa00; }
	.rozwijane { width: 88px; }
	.zaznaczone { background-color: #88aa00; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.topHeader nav a:link,
.topHeader nav a:visited { color: #FFF; display: inline-block; padding: 10px 25px; height: 20px; }
.topHeader nav a:hover,
.topHeader nav a:active,
.topHeader nav .active a:link,
.topHeader nav .active a:visited { background-color: #88aa00; text-shadow: none; }
.topHeader nav ul li a { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.mainContainer { line-height: 24px }
.leftContent { width: 70%; float: left; min-height: 550px;}
.leftContent img {  }
.mainContainer article footer p { /* date and info about article */ font-style: italic; color: #999; font-size: 90%; }
.topArticle { position: relative; overflow: hidden; background-color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3% 5%; margin-top: 2%; min-height: 550px; }
  
.middleArticle { background-color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3% 5%; margin-top: 1%; margin-bottom: 1%; }
.bottomArticle { background-color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3% 5%; margin-top: 1%; }
.top-aside { width: 22%; float: left; background-color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 1.4% 0% 0% 2%; padding: 1% 3%; }
.tankName h2 { font-size: 16px; text-align: center; margin-top: 0px; }
.top-aside .tableHeader { background-color: #666; color: #FFF; text-align: center; font-weight: bold;}
.top-aside table,
.top-aside table tr { position: relative; width: 100%; overflow: hidden; table-layout: fixed; }
.top-aside table td { max-width: 35%; position: relative; vertical-align: top; overflow: hidden; }
.top-aside img,
.middle-aside img { width: 100% }
.middle-aside { width: 22%; float: left; background-color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 1% 0% 0% 2%; padding: 1% 3%; }
.middle-aside ul { list-style: none; padding-left: 0px; font-size: 13px; }
.bottom-aside { width: 22%; float: left; background-color: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 1% 0% 2px 2%; padding: 1% 3%; }
.mainFooter { width: 100%; height: 40px; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #666; margin: 2% 0; }
.mainFooter p { width: 92%; margin: 10px auto; color: #FFF; }
.imageInside a:hover,
.imageInside a:active, .imgBox a:hover, .imgBox a:hover, #page_logo { /* eliminates image-link highlight in aside */ text-decoration: none; border: 0px; background-color: #F2F2F2; }
/*******************************************************************************************/
/* responsive design */
/*******************************************************************************************/
@media only screen and (min-width: 150px) and (max-width: 600px) { 
	.body { width: 90%; font-size: 95%; }
	.topHeader img {  }
	.topHeader nav { height: 160px }
	.topHeader nav ul { padding-left: 0; width: 100%; text-align: center; }
	.topHeader nav ul li { width: 100%; margin: 0 auto; }
	.topHeader nav a:link,
	.topHeader nav a:visited { padding: 10px 25px; height: 20px; display: block; }
	.mainContainer { line-height: 28px }
	.leftContent { width: 100%; float: left; margin-top: 2%; min-height: 0px;}
	.mainContainer article footer p { /* date and info about art, not displayed in mobile */ display: none; }
	.topArticle { margin-bottom: 4% }
	.bottomArticle { margin-bottom: 2% }
	.top-aside,
	.middle-aside,
	.bottom-aside { width: 94%; margin: 2% 0% 2% 0%; padding: 2% 3%; }
	.mainFooter { width: 100%; height: 40px; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #666; margin: 2% 0; }
	.mainFooter p { width: 92%; margin: 10px auto; color: #FFF; }
}
/*******************************************************************************************/
/* forms style */
/*******************************************************************************************/
input,
textarea { padding: 5px; border: 1px solid #999; color: #666; margin: 2px 2px 2px 2px; }
textarea { width: 90%; max-width: 95%; height: 150px; line-height: 18px; font-family: inherit; }
*:focus { outline: none }
input:hover,
textarea:hover { border-color: #88aa00 }
input:focus,
textarea:focus { outline-style: solid; outline-width: 1.5px; outline-color: #88aa00; }
form label { margin-left: 10px; color: #999999; }
form { width: 100%; }
input[type=submit] { width: 60px; height: 20px; background-color: #88aa00; color: #FFF; font-size: 10px; text-align: center; line-height: 8px; }
input[type=reset] { width: 60px; height: 20px; }
.nojavascript { border-style: dashed; border-width: 2px; border-color: red; background-color: #FFC3CE; }
/*******************************************************************************************/
/* compatibility */
/*******************************************************************************************/
#ieBottomMargin { clear: both }
noscript form { display: none }
/*******************************************************************************************/
/* new css */
/*******************************************************************************************/
.red_box { border-style: solid; border-width: 2px; border-color: red; background-color: #FFC3CE; text-align: center; margin-bottom: 4px;}
.green_box { border-style: solid; border-width: 2px; border-color: green; background-color: #98FB98; text-align: center; margin-bottom: 4px;}
.info_box { border-style: solid; border-width: 2px; border-color: #4169E1; background-color: #AFEEEE; text-align: center; margin-bottom: 4px;}

.imgBox { margin: 3px; text-align: center; border-width: 1px; border-color: darkseagreen; border-style: solid; margin-bottom: 3px; width: 200px; float: left;}
.imgBox a, .imgBox a:hover { text-decoration: none; }
.imgBox input[type=checkbox] { bottom: 0; }
#gallery_spacer { clear: both; visibility: hidden;}

hr { border-bottom-color: green; }

#preview { margin: 0 auto; width: 90%; clear: both; position: absolute; bottom:25px; text-align: center;}
#preview img { display: inline; float: none; margin: 5px 3px 0px 5px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-style: solid; border-width: 2px; border-color: #88aa00; } ;

