<h3>Login</h3>
<form method="post" action="/galeria/index.php/login">
  <input type="text" name="username" placeholder="Login" />
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" name="OK" value="submit" />
</form>
<h5>Haven't registered yet? <a href="/galeria/index.php/signup">Sign up</a></h5>

