
<header>
  <h2><a href="info.html" id="top" title="Info">Info</a></h2>
</header>
<footer>
  <p>Ten artykuł został wstawiony przez: Wojtek</p>
</footer>

<p>Wykonał Wojciech Molicki, Informatyka, Politechnika Gdańska.</p>
<p><a href="mailto:wojtek.molicki@gmail.com">Wyślij do mnie maila</a></p>
<a href="#">Góra</a>
