<ul>
  <li><a id="home" href="/galeria/index.php" >Home</a></li>
  <li><a id="upload" href="/galeria/index.php/upload">Add picture</a></li>
  <li><a id="browse" href="/galeria/index.php/browse" >Browse</a></li>
  <li><a id="saved" href="/galeria/index.php/browsesaved" >Saved</a></li>
</ul>