
<form method="post" action="/galeria/index.php/upload" enctype="multipart/form-data">
  {private}
  <input type="text" name="title" placeholder="Title" onkeyup="showPreviews(this.value)" /><br />
  <input type="text" name="watermark" placeholder="Watermark" /><br />
  <input type="file" name="plik" /><br />
  <input type="submit" name="Submit" value="Upload" />
  <span id="find"></span>
</form>
