Add as private image <input type="checkbox" name="private" /><br />
<script>
function showPreviews(title)
{
  if (title.length==0)
  { 
    document.getElementById("preview").innerHTML="";
    return;
  }
  var xmlhttp=new XMLHttpRequest();
  xmlhttp.onreadystatechange=function()
  {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
      document.getElementById("preview").innerHTML=xmlhttp.responseText;
    }
  }
  xmlhttp.open("GET","/galeria/index.php/upload?q="+title,true);
  xmlhttp.send();
}
</script>