<h3>Welcome, {username}!</h3>
<ul>
  <li><a href="#">My account</a></li>
  <li><a href="#">My pictures</a></li>
  <li><a href="/galeria/index.php/browsesaved">Saved pictures</a></li>
  <li><a href="/galeria/index.php/settings">Settings</a></li>
  <li> <a href="/galeria/index.php/signout">Sign out</a></li>
</ul>
