<h3>Signup</h3>
<form method="post" action="/galeria/index.php/signup">
  <input type="text" name="username" placeholder="Login" />
  <input type="password" name="password" placeholder="Password" />
  <input type="password" name="password_repeat" placeholder="Repeat password" />
  <input type="submit" name="OK" value="submit" />
</form>
<h5>Already a user? <a href="/galeria/index.php/login">Sign in</a></h5>
